<div class="grid">
            <div >
                <a href="/adminrings"> <p class="grid-items">Ring</p></a>
            </div>
            <div >
                <a href="/adminnecklace"><p class=" grid-items">Necklace</p></a>
            </div>
            <div>
                <a href="/adminbracelets"> <p class="grid-items">Bracelet</p></a>
            </div>
            <div >
                <a href="/adminearrings"> <p class="grid-items">Earrings</p></a>
            </div>
            <div >
               <a href="/adminmixed_collection"> <p class="grid-items">A Combination Of All</p></a>
            </div>
        </div>