<footer>
    <div class="last">
      <div id="first">
        <img class="logo1" src="/displayimage/newlogo.png">
        <pre class="plogo1">
          At  Jewellers, we believe that every 
            piece of jewelry tells a story.
          Let us help you find the perfect piece to
              express yours.</pre>
      </div>
      <div class="second">
        <p>
          <h2>Visit Our Store</h2>

          <i class="fa-solid fa-shop" style="color: #0d0f12;margin-top:2vw"></i>
          <p class="second1">Monday To Saturday</p>
          <p style="margin-left:1vw;">11:00AM-08:00PM</p>
          <h2>Contact Info:</h2>
          <i id=wts class="fa fa-whatsapp" style="color:rgb(12, 12, 12);"></i>
          <p style="display:inline-block">+91XXXXXXXXXX</p>
          <p></p>
          <i class="fa-regular fa-envelope" style="color: #141414;"></i>
          <p style="display:inline-block"jewellers@gmail.com</p>
        </p>
      </div>
      <div class="third">
        <i id="fac" class="fa-brands fa-facebook  fa-2xl" style="color: #0d0d0d;"></i>
        <a href="#"><i id="ins" class="fa-brands fa-instagram fa-2xl" style="color: #111212;margin-left:1vw"></i></a>
        <i id="twi" class="fa-brands fa-twitter fa-2xl" style="color: #0d0d0d;margin-left:1vw;"></i>
        <h2 style="margin-top:1vw;">Address</h2>
        <p style="margin-right:2vw;">
          Address
        </p>
        <a href="/index">Log Out</a>
        
      </div>
    </div>

    <p class="footer">Copyright © 2023  Jewellers. All rights reserved.</p>
</footer>