<div class="grid">
            <div >
                <a href="/rings"> <p class="grid-items">Ring</p></a>
            </div>
            <div >
                <a href="/necklace"><p class=" grid-items">Necklace</p></a>
            </div>
            <div>
                <a href="/bracelets"> <p class="grid-items">Bracelet</p></a>
            </div>
            <div >
                <a href="/earrings"> <p class="grid-items">Earrings</p></a>
            </div>
            <div >
               <a href="/mixed_collection"> <p class="grid-items">A Combination Of All</p></a>
            </div>
        </div>