
<header>
    <div class="topnav" id="myTopnav">
        <img class="logo" src="/displayimage/newlogo.png">
        <a href="/index "class="active abc">Home</a>
        <a href="/rings" class="abc">Gallery</a>
        <a href="/about" class="abc">About</a>
        <a href="/contact" class="abc">Contact</a>
        <a href="https://wa.me/91XXXXXXXXXX"><i id=wts class="fa fa-whatsapp abc" style="font-size:50px;color:rgb(33, 240, 10);margin-top:1.5vw;float:right;margin-right:2vw;"></i></a>
        <a href="javascript:void(0);" style="font-size:25px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    
</header>